#home-page {
    background-color: rgb(77, 26, 43);
}

#home-splash h2 {
    position: absolute;
    top: 60%;
    right: 60%;
    /* transform: translate(50%, 50%); */
    font-size: 40px;
    font-weight: 300;
    color: white;
    padding-left: 50px;
  }

video {
  width: 100%;
  height: 100%;
}

#our-services {
  background-color: rgb(77, 26, 43);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#our-services h3 {
  font-size: 30px;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 20px !important;
}

#our-services-cards {
    display: flex;
    justify-content: space-evenly;
  }
  
  #our-services-cards .card {
    text-align: center;
    margin: 50px;
    padding: 0px 30px 30px 30px;
    color: white;
    font-size: 25px;
    width: 75%;
  }
  
  .service-icon {
    font-size: 50px;
  }
  
  #learn-more-btn {
    background-color: transparent;
    border: 2px solid;
    border-radius: 5px;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 50px;
  }
  
  #learn-more-btn a {
    text-decoration: none !important;
      color: white;
  }
  
  #learn-more-btn:hover {
    color: silver;
    background-color: rgb(77, 26, 43);
    transition: 0.5s ease;
  }

 